.box {
  height: 100%;
  width: 100%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  margin-top: 7px;
  font-size: 12px;
}

.trend-chart {
  display: inline-block;
  flex: 1;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: bisque; */
}

.trend-chart-embeded {
  height: 20px !important;
  width: 40%;
  display: inline-block;
}

.info-bar {
  height: 20px;
  font-size: 14px !important;
  width: 85%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 7px;
}

.info-bar-price {
  color: rgba(238, 205, 73, 100);
  margin-right: 2px;
}

.info-bar-upanddown {
  color: rgb(41, 209, 143);
}

.text {

}
