/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import './css/photon.css';
@import 'antd/dist/antd.css';

body {
  color: rgba(232, 232, 232, 100);
  user-select: none;
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}

#root {
  height: 100%;
  width: 100%;
}
