.about-pane,
.monitor-setting-pane {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.76);
}

.about-pane .paragraph {
  display: inline-block;
  width: 400px;
}

.monitor-setting-pane {
  display: block;
}

.paragraph {
  margin-top: 20px;
}
